<!-- Footer -->
<footer id="footer" class="clearfix bg-footer2 pd-t re-hi" style="background: linear-gradient(90deg, #0b305b, #011122, #06031a);" class="bg-dark text-white py-5">
  <div class="themesflat-container">
    <div class="row footer-main" style="justify-content: space-evenly">
      <div class="col-lg-3 col-md-6 col-12">
        <div class="widget widget-info">
          <a href="/">
            <img
              src="/static/images/logo/logo.png"
              alt="Logo Footer"
              style="width: 300px"
            />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-12">
        <div class="widget widget-menu">
          <p>
              <span style="color: red">Professional coding</span> is the art of writing 
              clean, efficient, and maintainable code to build powerful 
              and reliable applications.
            </p>
            <p>
              It focuses on best practices, problem-solving, and the use of 
              modern tools to create innovative solutions for a 
              <span style="color: yellow">smarter digital world.</span>
            </p>
            <br>
            <ul>
               <li style="display: flex; align-items: center; margin-bottom: 8px;">
    <i class="icon-Vector1" style="color: red; font-size: 1.3em" margin-right: 8px;"></i>
    <p style="margin: 0;">&nbsp;&nbsp;Ahmedabad, India</p>
  </li>
  <li style="display: flex; align-items: center;">
    <i class="icon-Group-1" style="color: red; font-size: 1.3em" margin-right: 8px;"></i>
    <p style="margin: 0;">&nbsp;&nbsp; <a href="mailto:professionalcoding007@gmail.com" style="text-decoration:none; color:#86898E;">professionalcoding007@gmail.com</a></p>
  </li>
            </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-12">
        <div class="widget widget-menu pl-30">
          <h3 style="color: red">Pages</h3>
          <ul class="box-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/ourgallerypage"> Our Gallery</a></li>
            <li><a href="/aboutpage">About Us</a></li>
            <li><a href="/contactpage">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row footer-bottom">
      <footer>
        <p class="mb-0" align="center">&copy; {{ 2025 }} Professional Coding. All Rights Reserved.</p>
    </footer>
    </div>
  </div>
  <img src="/static/images/page/ft-right.gif" alt="right" class="shape-right" />
</footer>

<!-- /#footer -->
